html, body {
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #4a4a4f;
    position: relative;
    top: 50px;
    left: 50px;
    margin: 25px 25px 50px;
   
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.box:hover {
    transform: scale(2);
}

.bearbox {
    margin: 25px;
    position: relative;
    top: 75px;
}

.bear {
    width: 150px;
    height: 150px;
    margin: 25px;
    
    animation-name: spin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moveit {
    margin: 25px;
    width: 200px;
    height: 200px;
    background-color: #bada55;
    position: relative;
    top: 75px;
    
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
}

.moveit:hover {
    transform: translateX(100%);
}

.multiple {
    margin: 25px;
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: 70px;
    
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out
}

.multiple:hover {
    transform: translateX(300%) scale(2);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}